<div class="security-section">
  <div class="section-name">Security</div>
  <!--<mat-checkbox (change)="checkboxTogle($event)">enable JWT security</mat-checkbox>-->
  <mat-checkbox [(ngModel)]="enabled">enable JWT security</mat-checkbox>
  <div class="inputs" *ngIf="enabled">
    <mat-form-field>
      <input matInput type="text" placeholder="User" [ngModel]="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Key" [(ngModel)]="key">
    </mat-form-field>
  </div>
</div>














