<div class="card-container">

  <div class="message">The card has been successfully accepted!</div>

  <div class="card-details-text">Your card details:</div>
  <div class="card-details">


    <div class="detail">
      <div>Type:</div>
      <div class="right">{{cardInfo.Brand}}</div>
    </div>

    <div class="detail">
      <div>Number:</div>
      <div class="right">{{cardInfo.CardNumber}}</div>
    </div>

    <div class="detail">
      <div>Holder:</div>
      <div class="right">{{cardInfo.CardHolderName}}</div>
    </div>
  </div>

  <button mat-raised-button class="mat-accent" (click)="changeCardClick()">Change card</button>
</div>
