<div class="card-container">

  <div class="message">The card has been successfully accepted!</div>

  <div class="card-details-text">Your card details:</div>
  <div class="card-details">


    <div class="detail">
      <div>Type:</div>
      <div class="right">{{cardInfo.brand}}</div>
    </div>

    <div class="detail">
      <div>Number:</div>
      <div class="right">{{cardInfo.number}}</div>
    </div>

    <div class="detail">
      <div>Holder:</div>
      <div class="right">{{cardInfo.holderName}}</div>
    </div>
  </div>

  <button mat-raised-button class="mat-accent">Change card</button>
</div>
