.root-container {
  padding: 10px;

.logo-container {
  width: 960px;
  margin: auto;

  .brandLogo {
    height: 25px;

    &:hover {
      cursor: pointer;
    }
  }
}

  h2 {
    font-weight: normal;
    text-align: center;
    height: 24px;
  }
}
