.response-block {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-top: 12px;
  padding: 2px 12px 8px 12px;
  border: 1px dashed #d3d3d3;
  box-shadow: 0 1px 2px #CCC;
  background: #f7f7f7;

  .title {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .raw-resp-title {
    font-size: 16px;
    padding-top: 5px;
    color: #5e2828;
    text-decoration: underline;
  }

  .detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 12px;
    color: #565656;

    .property {
      color: #5e2828;
    }

  }

  .raw-resp {
    font-size: 12px;
    color: #565656;
    margin-left: -8px;
    overflow: auto;
  }
}
